<header class="mb-4">
  <nav class="navbar navar-expand-sm navar-dark bg-dark">
    <a class="navar-brand" href="/">Microposts</a>
    <button class="navar-toggler" type="button" data-toggle="collapse" data-target="#navarSupporttedContent">
      <span class="navar-toggler-icon"></span>
    </button>
    
    <div  class="collapse navvar-collapse" id="navarSupportedContent">
      <ul class="navar-nav mr-auto"></ul>
      <ul class="navar-nav">
        <li class="nav-item"><a href="#" class="nav-link">Signup</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      </ul>
    </div>
  </nav>
</header>